body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18;
  font-family: 'Rubik', sans-serif;
}

h1, h2 {
  color: #252b46;
}

h2 {
  font-size: 2rem;
}

p, li {
  color: #9194a1;
}

button {
  width: 40%;
  height: 36px;
  background-color: #5368df;
  border-radius: .4rem;
  border: none;
  color: white;
}

button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.feature-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-info {
  width: 60%;
  text-align: center;
}

.feature-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 80%;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 .5rem 0;
  padding: 0;
  width: 100%;
}

.feature-item {
  display: block;
  list-style: none;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  border-top: 1px solid #9194a1;
}

.feature-item:last-of-type {
  border-bottom: 1px solid #9194a1;
}

.feature-item:hover {
  border-bottom: 2px solid red;
}

.bookmark-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bookmark-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.bookmark-img {
  width: 50%;
  padding: 2.5rem;
  z-index: 2;
}

.bg-img {
  width: 200px;
  height: 100px;
  background-color: #5368df;
  border-radius: 0 50% 50% 0;
  position: absolute;
  top: 570px;
}

.bookmark-info {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookmark-info button {
  display: hidde;
}

.bookmark-info p {
  width: 80%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .feature-list-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .feature-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .feature-item {
    border-bottom: 1px solid #9194a1;
    border-top: none;
    width: 25%;
  }
  .bookmark-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: auto;
  }
  .bookmark-img-container {
    width: 50%;
  }
  .bookmark-img {
    width: 500px;
  }
  .bg-img {
    top: 510px;
    width: 500px;
    height: 310px;
  }
  .bookmark-info {
    padding-left: 5rem;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bookmark-info p {
    text-align: left;
  }
  .bookmark-info button {
    width: 25%;
    height: 50px;
  }
}
/*# sourceMappingURL=style.css.map */