$soft-blue:hsl(231, 69%, 60%);
$Soft-Red: hsl(0, 94%, 66%);
$Grayish-Blue: hsl(229, 8%, 60%);
$Very-Dark-Blue: hsl(229, 31%, 21%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 2.7rem;
}

h1, h2 {
    color: $Very-Dark-Blue;
}
h2{
    font-size: 1.8rem;
}

p, li{
    color: $Grayish-Blue;
    line-height: 1.6;
}

button {
    width: 50%;
    height: 3rem;
    background-color: $soft-blue;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0px 3px 5px #b9b9b9;
}

button:active{
    transform: scale(.98);
    background-color: white;
    color: $soft-blue;
    border: 1px solid $soft-blue;
}

.main-button2:active{
    color: $Very-Dark-Blue;
    border: 1px solid $Very-Dark-Blue;
}


/*
Nav Bar
*/

.container{
    width: 100%;
    min-height: 4rem;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $Very-Dark-Blue;
    font-weight: 100;
}
.logo{
    width: 150px;
    cursor: pointer;
    margin: 30px 0; 
}
.burger-icon{
    width: 25px;
    cursor: pointer;
    display: block;
}
nav{
    flex: 1;
    text-align: right;
    display:none;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.nav-button{
    font-size: .8rem;
    width: 92px;
    height: 30px;
    padding: 8px 6px ;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    background-color: red;
}
.nav-button:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
}


/*
Main 
*/


.main-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:2.5rem 0;
}
.main-img{
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}
.main-img .hero-img{
    width: 95%;
}

.color-box{
    position: absolute;
    right: 150px;
    top: 192px;
    background: hsl(231, 69%, 60%);
    border-radius: 0 0 0 30%;
    height: 225px;
    width: 320px;
    z-index: -1;
    transform: translate(150px);
}

.main-info{
    width: 100%;
    margin: 3rem 0;
    text-align: center;
}
.main-info h1{
    font-size: 1.8rem;
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
    margin-bottom: 1.9rem;
}
.main-p{
    text-align: center;
    width: 90%;
    margin:0 auto;
    margin-bottom: 1.9rem;
}

@mixin main-btn-style {
    width: 42%;
    font-size: .7rem;
    border: none;
    border-radius: 5px;
}

.main-button1{
    @include main-btn-style();
    color: white;
    background-color: hsl(231, 69%, 60%);
}


.main-button2{
    @include main-btn-style();
    background-color: rgba(240, 240, 240, 0.966);
    color: $Very-Dark-Blue;
    margin-left: .5rem;
}

/*
Feature Section
*/

.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.feature-info{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    h2{
        margin-bottom: 1rem;
    }
}

.feature-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.feature-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 .5rem 0;
    padding: 0;
    width: 100%;
}

.feature-item {
    display: block;
    list-style: none;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 3;
    text-align: center;
    border-bottom: 1px solid $Grayish-Blue;
    transition: all .1s linear;
    &:last-of-type{
        border-top: 1px solid $Grayish-Blue;
    }
}

.feature-item:hover {
    border-bottom: 3px solid $Soft-Red;
}

.bookmark-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
}

.bookmark-img-container{
    margin-bottom: 2rem;
}
.bookmark-img {
    width: 100%;
    padding: 2rem;
    z-index: 2;
}

.second-box{
    position: absolute;
    left: -150px;
    top: 1430px;
    background: hsl(231, 69%, 60%);
    border-radius: 0 0 30% 0;
    height: 225px;
    width: 320px;
    z-index: -1;
    transform: translate(150px);
}

.bookmark-info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        margin-bottom: 1rem;
    }p{
        margin-bottom: 5rem;
    }.btn-bookmark{
        display: none;
    }
}

.bookmark-info p {
    width: 80%;
    text-align: center;
}

.extension-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span{
        color: hsl(229, 8%, 60%);
        text-align: center;
        font-size: .75rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }.btn-card{
        width: 80%;
        margin-top: 2rem;   
    }p{
        width: 90%;
        margin:1rem 0;
    }
}

.extension-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.card-container{
    width: 20rem;
    height: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin card {
    width: 18rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    box-shadow: 6px 10px 0px 3px #f2f2f2;
    border-radius: 0 0 15px 15px;
}
.card-chrome{
    @include card();
}

.card-firefox{
    @include card();
}

.card-opera{
    @include card();
}

.fqa-section{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    .fqa-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }h2{
        text-align: center;
    }p{
        width: 80%;
        margin-top: 2rem;
        margin-bottom: 3rem;
        text-align: center;
    }
}

.arrow-container{
    width: 80%;
    margin: 0 auto;
    list-style: none;
}

.arrow-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
    line-height: 4;
    border-bottom: 1px solid $Grayish-Blue; 
    flex-wrap: wrap;  
}

.arrow-btn p {
    display: none;
}

.arrow-btn:hover p {
    display: block;
    margin-bottom: 1rem;
}

li:hover p {
    display: block;
    }    

.fqa-btn {
    margin:3rem auto 8rem auto;
    width: 35%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
    background-color: $soft-blue;
    span{
        margin-top: 3rem;
        font-size: .9rem;
        color: white;
        letter-spacing: 4px;
    }  
    .h2-form {
    text-align: center;
    font-weight: 300;
    font-size: 1.6rem;;
    color: white;
    margin: .5rem auto 2rem auto;
    width: 90%;
    .form-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    }
    input {
        height: 3rem;
        margin-bottom: 0.2rem;
        width: 80%;
        border: none;
        border-radius: 5px;
        padding-left: 20px;
        box-shadow: 0px 2px 5px #3a3a3a;
        &:invalid{
            border: 1px solid $soft-blue;
        }
    }
    .form-btn {
        background-color: $Soft-Red;
        width: 80%;
        margin: 1rem auto 4rem auto;
        box-shadow: 0px 3px 5px #3a3a3a;
        &:active{
            color: $Soft-Red;
            background-color: white;
            border: 1px solid $Soft-Red
        }
    }
}      
.contact-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $Very-Dark-Blue;
    .footer-container {
        display: flex;
        flex-direction: column;
        .footer-logo{
            margin: 2rem auto 2rem auto;
        width: 90%;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            .footer-list {
                margin: 1rem auto;
                color: white;
                letter-spacing: 2px;
            }
        }
    }
    
    .social-icon-container {
        display: flex;
        margin: 1rem auto 3rem auto;
        .footer-icon{
            margin: 1rem;
        }
    }
}

/*
Ismael
Responsive Header, Nav, Main 
*/

@media only screen and (min-width:768px){

    /*
    Responsive Background Imgs
    */

    .color-box {
        height: 350px;
        width: 500px;
        top: 270px;
    }

    .second-box{
    height: 350px;
    width: 500px;
    top: 1100px;

    }

    /*
    Responsive Header
    */
    .burger-icon{
        display: none;
    }

    nav{
        flex: 1;
        text-align: right;
        display:block;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        color: $Very-Dark-Blue;
        li:hover {
            color: $Soft-Red;
        }
        .nav-button{
            background-color: $Soft-Red;
            padding:0;
            &:active{
                background-color: white;
                color: $Soft-Red;
                border: 1px solid $Soft-Red;
            }
        }
    }

    nav ul li {
        display: block;
    }

    nav ul li a{
        display: block;
        text-decoration: none;
        display: block;
        color: #000;
        font-size: 14px;
    }
    nav ul li a:hover{
        color: $Soft-Red;
    }

    /*
    Responsive Main
    */

    .main-row{
        flex-direction: row-reverse;
    }

    .main-info {
        padding-left: 6rem;
        h1{
            font-size: 3rem;
            margin-left: 0;
            text-align: left;
            width: 80%;
        }
        p{
            margin-left: 0;
            text-align: left;
            width: 80%;
        }
        .main-button1 .main-button2{
            text-align:initial;
        }
    }
   

   



    /*
    Responsive Feature 
    */

    .feature-info{
        width: 50%;
    }
    .feature-list-container{
        width: 60%;
    }
    .feature-list{
        width: 100%;  
        flex-direction: row;  
    }
    .feature-item{
        &:last-of-type{
            border-top: none;
        }
    }
    .bookmark-section {
        flex-direction: row;
        gap: 6%;
        .bookmark-info{
            justify-content: center;
            align-items: flex-start;
            width: 47%;
            margin-top: 0;
            p {
                text-align: left;
                margin-bottom: 2rem;
            }
            .btn-bookmark{
                display: block;
                width: 20%;
            }
        }.bookmark-img-container{
            width: 47%;
        }
    }


    /*
    Responsive Cards
    */
    .extension-head p {
        text-align: center;
        width: 60%;
    }

    .card-container{
        width: 60rem;
        height: 30rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 3rem;
    }
    .end{
        transform: translateY(50px);
    }
    .mid{
        justify-content: center;
    }
    .start{
        transform: translateY(-50px);
    }

    /*
    FQA Responsive
    */

    .fqa-section{
        width:50%;
        margin: 3rem auto 3rem auto;
        p {
            width: 70%;
            margin: 0;
            text-align: center;
            
        }
        h2 , p{
            margin-bottom: 2rem;
        }
        .fqa-btn{
            width: 20%;
            margin-bottom: 4rem;
        }
        .arrow-container li{
            &:first-of-type{
                border-top: 1px solid $Grayish-Blue;
            }
            &:hover{
                color: $Soft-Red;
            }
        }
    } 

    /*
    Responsive Footer
    */

    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container .h2-form {
        width: 30%;
        margin: 1rem auto;
    }
    .form-btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-bottom: 4rem;
    }
    .form-container .form-btn {
        margin: 0 ;
        width: 20%;
    }
    .form-container input {
        margin: 0 1rem 0 0;
        width: 30%;
    }

    /*
    Responsive Footer
    */

    .contact-footer {
        flex-direction: row;
        justify-content: space-around;
        height: 6rem;
        .footer-container{
            flex-direction: row;
            width: 50%;
            padding:0;
            height: 4rem;
            align-items: center;
            img{
                object-fit: contain;
                overflow: hidden;
                width: px;
                height: 40px;
                margin: 0px; 
                padding-left: 115px;
                }
        }
        .footer-container .footer-list-container{
            display: flex;
            flex-direction: row;
            width: 90%;
            
            }
            .footer-list{
                margin-right: 2rem;
                font-size: .7rem;
                font-weight: 300;
            }
        }
        .contact-footer .social-icon-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 115px;
            
        }

    }




