body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18;
  font-family: 'Rubik', sans-serif;
}

h1, h2 {
  color: #252b46;
}

h2 {
  font-size: 2rem;
}

p, li {
  color: #9194a1;
}

button {
  width: 40%;
  height: 36px;
  background-color: #5368df;
  border-radius: .4rem;
  border: none;
  color: white;
}

button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.feature-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-info {
  width: 60%;
  text-align: center;
}

.feature-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 80%;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 .5rem 0;
  padding: 0;
  width: 100%;
}

.feature-item {
  display: block;
  list-style: none;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  border-top: 1px solid #9194a1;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.feature-item:last-of-type {
  border-bottom: 1px solid #9194a1;
}

.feature-item:hover {
  border-bottom: 3px solid red;
}

.bookmark-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bookmark-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.bookmark-img {
  width: 50%;
  padding: 2.5rem;
  z-index: 2;
}

.bg-img {
  width: 200px;
  height: 100px;
  background-color: #5368df;
  border-radius: 0 50% 50% 0;
  position: absolute;
  top: 570px;
}

.bookmark-info {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookmark-info button {
  display: hidde;
}

.bookmark-info p {
  width: 80%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .feature-list-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .feature-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .feature-item {
    border-bottom: 1px solid #9194a1;
    border-top: none;
    width: 25%;
  }
  .bookmark-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: auto;
  }
  .bookmark-img-container {
    width: 50%;
  }
  .bookmark-img {
    width: 500px;
  }
  .bg-img {
    top: 510px;
    width: 500px;
    height: 310px;
  }
  .bookmark-info {
    padding-left: 5rem;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bookmark-info p {
    text-align: left;
  }
  .bookmark-info button {
    width: 25%;
    height: 50px;
  }
}

.extension-section {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extension-section h2 {
  font-family: 'Rubik', sans-serif;
}

.extension-section h3 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.extension-section p {
  font-family: 'Rubik', sans-serif;
  color: #9194a1;
  text-align: center;
  line-height: 1.5;
}

.extension-section span {
  font-family: 'Rubik', sans-serif;
  color: #9194a1;
  text-align: center;
  font-size: 14px;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
}

.extension-section button {
  width: 12rem;
  height: 2.5rem;
  background-color: #5368df;
  color: white;
  border: none;
  font-family: 'Rubik', sans-serif;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.extension-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.card-container {
  width: 20rem;
  height: 65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-chrome {
  width: 18rem;
  height: 23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 6px 10px 0px 3px #f2f2f2;
          box-shadow: 6px 10px 0px 3px #f2f2f2;
  border-radius: 0 0 15px 15px;
}

.card-firefox {
  width: 18rem;
  height: 23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 6px 10px 0px 3px #f2f2f2;
          box-shadow: 6px 10px 0px 3px #f2f2f2;
  border-radius: 0 0 15px 15px;
}

.card-opera {
  width: 18rem;
  height: 23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 6px 10px 0px 3px #f2f2f2;
          box-shadow: 6px 10px 0px 3px #f2f2f2;
  border-radius: 0 0 15px 15px;
}

@media only screen and (min-width: 768px) {
  .card-container {
    width: 60rem;
    height: 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card-container .card-opera {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
/*# sourceMappingURL=style.css.map */